body {
  margin-top: 150px;
}

a:link {
  text-decoration: none;
}

.button-space {
  margin-left:65px;
}

.subtext {
  margin-left:20px;
  font-size:30px;
}

#vendorInfo {
  padding:2px;
  padding-left:8px;
  padding-right:8px;
  border:solid 1px;
}