@{
  Layout = "_Layout";
}
<div class="jumbotron" style="background:transparent !important">
  <h1>&#9646 &#9645 &#9650 &#9675 <span class="subtext">shape making supplies.</span></h1>
  <div class="small-text">
    <p>hey there michael. this is an app for you. if this isn't michael using this app, please close the application.</p>
    <p>we know how stressed you are with all your vendors demanding fresh shapes for distribution, but this sweet little app will help you.</p>
  </div>
</div>

<div class="button-space">
<a class="btn btn-lg btn-info" href='/vendors'>view vendors</a>
<a class="btn btn-lg btn-info button-space" href='/vendors/new'>add a new vendor</a>
</div>