@using BakerySupply.Models;
@{
  Layout = "_Layout";
}

<div class="jumbotron" style="background:transparent !important">
<h1 >vendors</h1>
<p>click your vendors to add items</p>
</div>

<div class="button-space">
@if (@Model.Count == 0)
{
  <h3>no vendors have been added yet.</h3>
} 

@foreach (Vendor vendor in Model)
{
  <h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3>
}
<hr>
<form action="/vendors/delete" method="post">
  <button type="submit" name="button" class="btn btn-info">clear all vendors</button>
</form>
<hr>
<p class="btn btn-info"><a style="color:white;" href='/'>Back home</a></p>
</div>