@using BakerySupply.Models;
@{
  Layout = "_Layout";
}

<h3>here are all the orders for this vendor:</h3>
<hr>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Item</a></li>
}
</ol>
<hr>

<a class="btn btn-info" href='/vendors/@Model["vendor"].Id/orders/new'>add a new order by this vendor</a>
<a class="btn btn-info" href='/vendors'>return to vendor list</a>
<a class="btn btn-info" href='/'>return to main page</a>